node_modules
.env
coverage
coverage.json
typechain
dist
typechain-types
.DS_Store
.yarn

# Vim files
*.swp

# Hardhat files
cache
artifacts
cache-zk
artifacts-zk

# Broadcast files
/broadcast/**
!/broadcast/**/
!/broadcast/**/run-latest.json
/broadcast/**/dry-run/
!/broadcast/deployed-addresses.md
!/broadcast/deployed-addresses.json
!/broadcast/DeployedAddresses.sol

# Foundry files
out

# Upgradeability files
.openzeppelin

# Storage layouts. Only save latest deployed storage layouts.
storage-layouts/proposed*

# IDE
.idea
.vscode

# Anchor files
.anchor
target
**/*.rs.bk
test-ledger
src/svm/assets 
src/svm/clients/*
!src/svm/clients/index.ts
