[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/hyper-evm-lib"]
	path = lib/hyper-evm-lib
	url = https://github.com/hyperliquid-dev/hyper-evm-lib
