node_modules
.env
coverage
coverage.json
typechain
dist
typechain-types
.DS_Store
.yarn

# Vim files
*.swp

# Hardhat files
cache
artifacts
cache-zk
artifacts-zk

# Upgradeability files
.openzeppelin

# Storage layouts. Only save latest deployed storage layouts.
storage-layouts/proposed*

# IDE
.idea

# Anchor files
.anchor
target
**/*.rs.bk
test-ledger
src/svm/assets 
