{
  "printWidth": 120,
  "bracketSpacing": true,
  "explicitTypes": "preserve",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "explicitTypes": "always"
      }
    },
    {
      "files": "*.md",
      "options": {
        "semi": false
      }
    }
  ]
}
