{
  "printWidth": 120,
  "bracketSpacing": true,
  "explicitTypes": "preserve",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "explicitTypes": "always"
      }
    },
    {
      "files": "*.md",
      "options": {
        "semi": false
      }
    },
    {
      "files": "*.rs",
      "options": {
        "useTabs": false,
        "tabWidth": 4,
        "printWidth": 120,
        "endOfLine": "lf"
      }
    }
  ],
  "plugins": [
    "prettier-plugin-rust",
    "prettier-plugin-solidity"
  ]
}