[profile.default]
ffi = true
ast = true
build_info = true
extra_output = ["storageLayout"]
src = "contracts"
out = "out"
test = "test/evm/foundry"
libs = ["node_modules", "lib"]
cache_path = "cache-foundry"
remappings = [
    "@across-protocol/=node_modules/@across-protocol/",
    "@ensdomains/=node_modules/@ensdomains/",
    "@eth-optimism/=node_modules/@eth-optimism/",
    "@gnosis.pm/=node_modules/@gnosis.pm/",
    "@maticnetwork/=node_modules/@maticnetwork/",
    "@matterlabs/=node_modules/@matterlabs/",
    "@openzeppelin/=node_modules/@openzeppelin/",
    "@scroll-tech/=node_modules/@scroll-tech/",
    "@uma/=node_modules/@uma/",
    "@uniswap/=node_modules/@uniswap/",
    "arb-bridge-eth/=node_modules/arb-bridge-eth/",
    "arb-bridge-peripherals/=node_modules/arb-bridge-peripherals/",
    "arbos-precompiles/=node_modules/arbos-precompiles/",
    "base64-sol/=node_modules/base64-sol/",
    "eth-gas-reporter/=node_modules/eth-gas-reporter/",
    "hardhat-deploy/=node_modules/hardhat-deploy/",
    "hardhat/=node_modules/hardhat/",
]
via_ir = true
optimizer_runs = 800
solc_version = "0.8.23"
revert_strings = "strip"
fs_permissions = [{ access = "read", path = "./"}]

solc = "0.8.23"
evm_version = "prague"

[profile.zksync]
src = "contracts/Lens_SpokePool.sol"

[profile.zksync.zksync]
compile = true
fallback_oz = true
mode = '3'
zksolc = "1.5.7"

[rpc_endpoints]
arbitrum = "${NODE_URL_42161}"
base = "${NODE_URL_8453}"
bsc = "${NODE_URL_56}"
ethereum = "${NODE_URL_1}"
ink = "${NODE_URL_57073}"
lens = "${NODE_URL_232}"
linea = "${NODE_URL_59144}"
lisk = "${NODE_URL_1135}"
mode = "${NODE_URL_34443}"
optimism = "${NODE_URL_10}"
polygon = "${NODE_URL_137}"
redstone = "${NODE_URL_690}"
scroll = "${NODE_URL_534352}"
soneium = "${NODE_URL_1868}"
unichain = "${NODE_URL_130}"
world-chain = "${NODE_URL_480}"
zksync = "${NODE_URL_324}"
hyperevm = "${NODE_URL_999}"

# testnet
arbitrum-testnet = "${NODE_URL_421614}"
hyperevm-testnet = "${NODE_URL_998}"


[etherscan]
ethereum = { key = "${ETHERSCAN_API_KEY}" }

# A profile to only run foundry local tests, skipping fork tests. These tests are run in CI. Run with `FOUNDRY_PROFILE=local forge test`
[profile.local]
test = "test/evm/foundry/local"

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
